<!DOCTYPE html>
<html lang="en" ng-app="RpiWifiConfig">
	<head>
		<title>SimpleAudio</title>
		<style type="text/css">
html, body {
    margin: 0; padding: 0;
    font-family: "Roboto", "PT Sans", sans-serif;
    height: 100%; min-height: 100%;
    overflow: hidden;
    position: relative;
}

.page-header {
    width: 100%;
    height: 50px; line-height: 50px;
    color: white;

    font-size: 20pt;
    text-align: center;

    -webkit-user-select: none;

    background: #045FB4; /*#039be5;*/
    border-bottom: 2px solid #045FB4;
}
.page-header a {
    position: absolute;
    right: 0; margin: 8px 20px;
    text-decoration: none;

    color: white;
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 2px solid white;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}
.page-header a:hover {
    color: yellow;
    background: #045FB4;
}
.page-header .active {
    color: yellow;
    background: #444444;
}
.page-header a i {
    font-size: 18pt;
    position: absolute;
    top: 3px; left: 5px;
    padding-bottom: 0;
}

.page-content {
    width: 100%;
    height: calc(100% - 50px);
}

.scan-results-container {
    margin: 0 auto;
    margin-bottom: 10px;

    width: 100%; max-width: 400px;
    height: calc(100% - 5px);
    border-bottom: 2px solid white;

    background: #E0ECF8;

    overflow-y: auto;
    overflow-x: hidden;
}

.scan-result {
    color: black;
    position: relative;
    height: 40px; line-height: 40px;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
    cursor: pointer;

    border-bottom: 2px solid #E0ECF8;
    background: #E0ECF8;
}
.scan-result:hover {
    color: blue;
    background: #E0ECF8;
}
.scan-result.selected {
    color: blue;
    background: #E0ECF8;
}
.scan-result .ssid {
    position: absolute;
    top: 0; left: 10%;
    width: 80%; height: 100%;
}
.scan-result .secure {
    color: white;
    padding-left: 3px;
}
.scan-result .signal_stength {
    position: absolute;
    top: 0; left: 85%;
    width: 10%; height: 100%;
}

.rwc-password-entry-container {
    position: absolute;

    top: 0; left: 0;
    width: 100%; height: 100%;

    background: rgba(0,0,0,0.85);

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;
}

.rwc-password-entry-container.hide-me {
    top: 100%;
    opacity: 0;
}

.rwc-password-entry-container .box {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    width: 320px;
    height: 150px;

    background: rgba(0,0,0,1.0);
    border: 2px solid #666666;
}

.rwc-password-entry-container .box input {
    width: 90%;
    height: 50px; line-height: 50px;

    font-size: 18pt;
    border: 0;

    margin-left: 5%;
    margin-top: 15px;
}

.rwc-password-entry-container .box .btn {
    width: 130px;
    height: 40px; line-height: 40px;
    text-align: center;

    border: 2px solid #5882FA;

    position: absolute;

    -webkit-transition: all 0.3s ease;
    -moz-transition:    all 0.3s ease;
    -ms-transition:     all 0.3s ease;
    -o-transition:      all 0.3s ease;
    transition:         all 0.3s ease;

    cursor: pointer;
}
.btn-cancel {
    background: #881111;
    top: 90px; left: 20px;
}
.btn-ok {
    top: 90px; left: 170px;
    background: #118811;
}
.btn-cancel:hover {
    background: #ff2222;
}
.btn-ok:hover {
    background: #22ff22;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
		</style>
		<script type="text/javascript">
			function openCity(evt, cityName) {
  			// Declare all variables
  			var i, tabcontent, tablinks;
		
  			// Get all elements with class="tabcontent" and hide them
 			tabcontent = document.getElementsByClassName("tabcontent");
  			for (i = 0; i < tabcontent.length; i++) {
  			  tabcontent[i].style.display = "none";
  			}
		
  			// Get all elements with class="tablinks" and remove the class "active"
  			tablinks = document.getElementsByClassName("tablinks");
  			for (i = 0; i < tablinks.length; i++) {
  			tablinks[i].className = tablinks[i].className.replace(" active", "");
  			}

  			// Show the current tab, and add an "active" class to the button that opened the tab
  			document.getElementById(cityName).style.display = "block";
  			evt.currentTarget.className += " active";
			}
		</script>
	</head>

	<body>
		
	</body>

<!-- Tab links -->
<div class="tab">
	<button class="tablinks" onclick="openCity(event, 'Welcome')">1. Welcome</button>
	<button class="tablinks" onclick="openCity(event, 'WIFI')">2. WIFI</button>
	<button class="tablinks" onclick="openCity(event, 'Update')">3. Update</button>
	<button class="tablinks" onclick="openCity(event, 'Install')">4. Install</button>
</div>

<!-- Tab content -->
<div id="Welcome" class="tabcontent">
  <h3>1. Welcome</h3>
  <p>Welcome to simpleaudio.</p>
</div>
	
<div id="WIFI" class="tabcontent">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <link rel="stylesheet" href="/external/font-awesome/css/font-awesome.min.css" >
    <link rel="stylesheet" href="/app.css">
</head>


<body ng-controller = "AppController"
      ng-keyup      = "$event.keyCode == 27 ? change_selection(null) : ''">

    <div class = "page-header">
        <i class = "fa fa-wifi"></i> Available WIFI Networks:
        <a href = "#" ng-click = "rescan()" ng-class = "{ 'active': scan_running }">
            <i class = "fa fa-refresh"
               ng-class = "{ 'fa-spin': scan_running }"></i>
        </a>
    </div>

    <div class = "page-content">
        <div class = "scan-results-container">

            <div class = "scan-result"
                 ng-repeat = "cell in scan_results | orderBy:orderScanResults:true"
                 ng-class = "{ selected: (cell.address == selected_cell.address) }"
                 ng-click = "change_selection(cell)">
                <div class = "secure" ng-if = "cell.encrypted"><i class = "fa fa-key"></i></div>
                <div class = "ssid">{{ cell.ssid }}</div>
                <div class = "signal_stength">{{ cell.signal_strength }}</div>
            </div>

        </div>
    </div>

    <rwc-password-entry
        visible     = "show_passcode_entry_field"
        passcode    = "network_passcode"
        reset       = "change_selection()"
        submit      = "submit_selection()"
        ng-keydown  = "{esc: 'close_password_entry()'}" />

    <!-- Scripts load last -->
    <script src="/external/angularjs/angular.min.js"></script>
    <script src="/app.js"></script>

</body>
</div>

<div id="Update" class="tabcontent">
  <h3>3. Update</h3>
  <p>Update your raspberry pi to newest version.</p>
</div>
	
<div id="Install" class="tabcontent">
  <h3>4. Install</h3>
  <p>Choose the components you wish to install. This is also available after first installation and can be done always.</p>
</div>

</html>
